.root {
    -fx-font-size: 26pt;
}

.root-pane {
	-fx-padding: 10;
}

.side-container-label {
	-fx-font-size: 20pt;
}

.outer-box {
	-fx-spacing: 10.0;
	-fx-background-radius: 10.0;
	-fx-padding: 20.0;
	-fx-vgap: 20.0;
}

.inner-box {
	-fx-background-radius: 5.0;
	-fx-padding: 4.0;
}

.boxed-label {
	-fx-background-radius: 3.0;
	-fx-padding: 4.0;
}

.title-label {
	-fx-padding: 4.0;
}

.hof {
	-fx-font-size: 24pt;
}

.hof-content {
	-fx-vgap: 10.0;
	-fx-hgap: 10.0;
}

.bluewins-label {
	-fx-font-size: 46pt;
}

.redwins-label {
	-fx-font-size: 46pt;
}

.draw-label {
	-fx-font-size: 46pt;
}

.error-label {
	-fx-font-size: 40pt;
}

.warning-label {
	-fx-font-size: 40pt;
}

.info-label {
	-fx-font-size: 40pt;
}

.message-pane {
	-fx-spacing: 10;
}

.countdown {
	-fx-font-size: 110pt;
}

.poweredby {
	-fx-font-size: 60pt;
}

.energy-bar {
	-fx-arc-width: 12;
	-fx-arc-height: 12;
}

.logo {
	-fx-font-size: 46pt;
}

.logo-big {
	-fx-font-size: 130pt;
}

.token {
	-fx-font-size: 32pt;
}

.time {
	-fx-font-size: 36pt;
}

.demo-mode {
	-fx-font-size: 24pt;
}
