.scene {
	-fx-fill: null;
}

.root {
    -fx-font-size: 26pt;
    -fx-font-family: 'Monkirta Pursuit NC';
}

.root-pane {
	-fx-padding: 20;
}

.border-pane {
	-fx-background-color: rgba(255.0,255.0,255.0,0.0);
}

.outer-box {
	-fx-background-radius: 10.0;
	-fx-padding: 20.0;
	-fx-spacing: 20.0;
	-fx-vgap: 20.0;
	-fx-orientation: vertical;
	-fx-fill-width: true;
	-fx-alignment: top-center;
}

.inner-box {
	-fx-background-radius: 5.0;
	-fx-padding: 4.0;
	-fx-text-fill: white;
	-fx-alignment: center;
}

.boxed-label {
	-fx-background-radius: 3.0;
	-fx-padding: 4.0;
	-fx-text-fill: white;
}

.title-label {
	-fx-padding: 4.0;
	-fx-text-fill: white;
	-fx-font-weight: bold
}

.hof {
	-fx-background-color: rgba(115.0,191.0,205.0,0.9);
	-fx-font-size: 24pt
}

.hof-light {
	-fx-background-color: lightblue;	
}

.hof-content {
	-fx-vgap: 10.0;
	-fx-hgap: 10.0;
	-fx-fill-width: true;
}

.hof-rank {
	-fx-alignment: center-right;	
	-fx-text-alignment: right;
}

.hof-name {
	-fx-alignment: center-left;
	-fx-text-alignment: left;
}

.hof-number {
	-fx-alignment: center;
	-fx-text-alignment: center;
}

.hof-score {
	-fx-alignment: center-right ;
	-fx-text-alignment: right;
}

.hof-blue {
	-fx-text-fill: rgba(140.0,179.0,223.0, 0.9);
}

.hof-red {
	-fx-text-fill: rgba(252.0,123.0,107.0, 0.9);
}

.blue {
	-fx-background-color: rgba(140.0,179.0,223.0, 0.9);
}

.blue-light {
	-fx-background-color: rgba(160.0,205.0,255.0, 1.0);
	-fx-fill: rgba(160.0,205.0,255.0, 1.0);
}

.blue-error {
	-fx-background-color: red
}

.red {
	-fx-background-color: rgba(252.0,123.0,107.0, 0.9);
}

.red-light {
	-fx-background-color: rgba(218.0,88.0,96.0, 1.0);
	-fx-fill: rgba(218.0,88.0,96.0, 1.0);
}

.red-error {
	-fx-background-color: red
}

.error-box {
	-fx-background-color: red;
	-fx-alignment: center;
}

.error-label {
	-fx-text-fill: white;
	-fx-font-size: 40pt;
}

.warning-box {
	-fx-background-color: rgb(115.0,191.0,205.0);
}

.warning-label {
	-fx-text-fill: white;
	-fx-font-size: 40pt;
}

.info-box {
	-fx-background-color: rgb(115.0,191.0,205.0);
}

.info-label {
	-fx-text-fill: white;
	-fx-font-size: 40pt;
}

.message-pane {
	-fx-alignment: center;
	-fx-spacing: 10;
}

.countdown {
	-fx-font-size: 240;
}

.energy-bar {
	-fx-arc-width: 12;
	-fx-arc-height: 12;
}

.logo {
	-fx-font-family: 'Magenta';
	-fx-font-size: 150;
	-fx-scale-x: 0.8;
	-fx-text-fill: yellow
}

.balloon {
	-fx-background-color: white;
	-fx-fill: white;
	-fx-stroke: black;
	-fx-stroke-width: 2;
}

.token {
	-fx-font-family: 'Consolas';
	-fx-font-size: 28pt;
}

.time {
	-fx-font-size: 36pt;
	-fx-text-fill: darkcyan;
}