.scene {
	-fx-fill: null;
}

.root {
    -fx-font-family: 'Monkirta Pursuit NC';
}

.border-pane {
	-fx-background-color: rgba(255.0,255.0,255.0, 0);
}

.outer-box {
	-fx-orientation: vertical;
	-fx-fill-width: true;
	-fx-alignment: top-center;
}

.inner-box {
	-fx-text-fill: white;
	-fx-alignment: center;
}

.boxed-label {
	-fx-text-fill: white;
}

.title-label {
	-fx-text-fill: white;
	-fx-font-weight: bold
}

.hof {
	-fx-background-color: rgba(115.0,191.0,205.0,0.9);
}

.hof-light {
	-fx-background-color: lightblue;	
}

.hof-content {
	-fx-fill-width: true;
}

.hof-rank {
	-fx-alignment: center-right;	
	-fx-text-alignment: right;
}

.hof-name {
	-fx-alignment: center-left;
	-fx-text-alignment: left;
}

.hof-number {
	-fx-alignment: center;
	-fx-text-alignment: center;
}

.hof-score {
	-fx-alignment: center-right ;
	-fx-text-alignment: right;
}

.hof-blue {
	-fx-text-fill: rgb(85.0,133.0,189.0);
}

.hof-red {
	-fx-text-fill: rgb(200.0,88.0,75.0);
}

.blue {
	-fx-background-color: rgb(88.0,145.0,209.0);
}

.blue-light {
	-fx-background-color: rgb(117.0,183.0,255.0);
	-fx-fill: rgba(117.0,183.0,255.0, 1.0);
}

.bluewins-box {
	-fx-background-color: rgb(160.0,205.0,255.0);
	-fx-fill: rgb(160.0,205.0,255.0);
}

.bluewins-label {
	-fx-text-fill: white;
	-fx-text-alignment: center;
}

.blue-error {
	-fx-background-color: red
}

.red {
	-fx-background-color: rgb(218.0,88.0,96.0);
}

.red-light {
	-fx-background-color: rgb(252.0,123.0,107.0);
	-fx-fill: rgba(252.0,123.0,107.0, 1.0);
}

.redwins-box {
	-fx-background-color: rgb(218.0,88.0,96.0);
	-fx-fill: rgb(218.0,88.0,96.0);
}

.redwins-label {
	-fx-text-fill: white;
	-fx-text-alignment: center;
}

.red-error {
	-fx-background-color: red
}

.draw-box {
	-fx-background-color: linear-gradient(
		from 0% 0% to 100% 100%, 
		rgb(160.0,205.0,255.0) 0%,
		rgb(160.0,205.0,255.0) 50%,
		rgb(218.0,88.0,96.0) 50%,
		rgb(218.0,88.0,96.0) 100%
		);
	-fx-fill: linear-gradient(to right, rgb(160.0,205.0,255.0), rgb(218.0,88.0,96.0));
}

.draw-label {
	-fx-text-fill: white;
	-fx-text-alignment: center;
}

.error-box {
	-fx-background-color: red;
	-fx-alignment: center;
}

.error-label {
	-fx-text-fill: white;
	-fx-text-alignment: center;
}

.warning-box {
	-fx-background-color: rgb(115.0,191.0,205.0);
}

.warning-label {
	-fx-text-fill: white;
	-fx-text-alignment: center;
}

.info-box {
	-fx-background-color: rgb(115.0,191.0,205.0);
}

.info-label {
	-fx-text-fill: white;
	-fx-text-alignment: center;
}

.message-pane {
	-fx-alignment: center;
}

.logo {
	-fx-font-family: 'Magenta';
	-fx-scale-x: 0.8;
	-fx-text-fill: yellow
}

.balloon {
	-fx-background-color: white;
	-fx-fill: white;
	-fx-stroke: black;
	-fx-stroke-width: 2;
}

.token {
	-fx-font-family: 'Consolas';
}

.time {
	-fx-text-fill: darkcyan;
}

.demo-mode {
	-fx-text-fill: rgba(160.0,160.0,160.0,128.0);
}
